.parti {
    display: flex;
}
* {
    color: aliceblue;
}

body {
    background-color: rgba(0, 0, 0, 0.945);
}

.navi {
    display: flex;
    gap: 250px;
    padding-left: 100px;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-size: larger;
}

.link {
    padding: 8px;
}

.link:hover {
    border: 1px;
    padding: 8px;
    border-radius: 5px;
    /* background-color: rgba(220, 213, 213, 0.646); */
    background-color: rgba(128, 128, 128, 0.25);
}

.welcome_note {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    padding-top: 30px;
}

.welcome_note_sepret {

    display: flex;
    margin-left: 60px;
}

.welcome_note_right {
    color: red;
}

.serch_bar {
    padding-top: 20px;
    margin-left: 210px;
    font-size: xx-large;
    margin-top: 20px;


}

.mai_sherch_area {
    display: flex;
    height: 150px;
}

label {
    /* font-weight: 200; */
    height: 33px;
    font-style: initial;
    padding-right: 50px;
}

input {
    height: 33px;
    width: 700px;
    border-radius: 20px;
}

input:focus {

    outline: none;
    border: 3px solid rgba(74, 74, 230, 0.678);
}
.catalogue {
    padding-right: 15px;
    height: 400px;
    width: 270px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.catalogue:hover {
    /* margin-left: 95px; */
    /* height: 120px;
        width: 250px; */
    border-radius: 20px;
    transform: scale(1.1);

}

.catalogue_w {
    font-size: 23px;
}
.catalogue_w1{
    font-size: 20px;
}
.submit
{
    height: 42px;
    width: 100px;
    color: black;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 300;
}
footer {

    height: 200px;
}

.name {
    margin-top: 20px;
    font-size: xx-large;
    margin-right: 70px;

}

.footer_div {
    gap: 20px;
    display: flex;
    margin-left: 400px;
}

.a1 {
    /* padding-bottom: 20px; */
    margin-right: 120px;
}
.navigation_page{
    display: flex;
    margin-left: 650px;
}
.navigation_page_a1{
    margin-right: 20px;
}
.navigation_page_box{
    height: 25px;
    width: 25px;
    background-color: yellow;
    color: black;
    padding: 2px;
}
